<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <form action ="/home/new" method="POST">
        <div>
            <div>
                <h2>Register</h2>
                <label for="name">
                <input class="form_control"id="first_name" name="first_name" type="text">
                <input class="form_control"id="last_name" name="last_name" type="text">
                <input class="form_control"id="email" name="email" type="text">
                <input class="form_control"id="password" name="password" type="text">
                <input class="form_control"id="confirm_password" name="confirm_password" type="text">
                <button>Register</button>
            </div>
            <div>
                <h2>Login</h2>
                <label for="name">
                <input class="form_control"id="email" name="email" type="text">
                <input class="form_control"id="password" name="password" type="text">
                <button>Login</button>
            </div>
        </div>
    </form>
</body>
</html>