<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/edit/user" method="post" class="col-6 mx-auto">
        <div class="edithome">
        <h2 class="text-center">Edit{{user.id}}</h2>
        <a href="/users">Home</a>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name"  class="form-control">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name"  class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control">
        </div>
        <input type="updated" value="Updated" class="btn btn-success">
    </form>
</body>
</html>