<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (one)</title>
</head>
<style>
    .title {
        display: flex;
        justify-content: space-between;
    }
    .footer {
        display: flex;
        align-items: center;
    }
</style>
<body>
    <form action="/readone/create" method="post" class="col-6 mx-auto">
        <div class="title">
            <h2 class="text-center">User{{user.id}}</h2>
            <a href="home">Home</a>
        </div>
        <div class="main">
            <div class="fullname">
                <h3>Full Name: {{user.first_name}} {{user.last_name}}</h3>
            </div>
            <div class="email">
                <h3>Email: {{user.email}}</h3>
            </div>
            <div class="createdon">
                <h3>Created On: {{user.created_at}}</h3>
            </div>
            <div class="lastupdatedon">
                <h3>Last Updated On: {{user.updated_at}}</h3>
            </div>
            <div class="footer">
                <a href="/users/{{user.id}}/edit">Edit</a>
                <a href="delete">Delete</a>
            </div>
        </div>
    </form>
</body>
</html>